<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>Alumnos</title>
</head>
<body>
	<nav th:replace="index::header"></nav>
	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Email</th>
				<th>Nota Media</th>
				<th>Acciones</th>
			</tr>
		</thead>
		
		<tbody th:each="alumno: ${alumnos}">
			<tr>
				<td th:text=${alumno.usuarioModel.nombre}></td>
				<td th:text=${alumno.usuarioModel.apellidos}></td>
				<td th:text=${alumno.usuarioModel.email}></td>
				<td>
					<table>
						<tr th:each="nota: ${alumno.notaMedia}">
							<td th:text="${nota}"></td>
						</tr>
					</table>
				</td>
				<td>
					<a th:if="${alumno.usuarioModel.enabled == false}" th:href="@{/admin/activateAlumno/} + ${alumno.usuarioModel.id}" method="post">
						<button class="btn tbn-lg btn-primary btn-block text-uppercase" type="button">Activar Alumno</button>
					</a>
					<a th:unless="${alumno.usuarioModel.enabled == false}" th:href="@{/admin/deactivateAlumno/} + ${alumno.usuarioModel.id}" method="post">
						<button class="btn tbn-lg btn-danger btn-block text-uppercase" type="button">Desactivar Alumno</button>
					</a>
					<a th:href="@{/admin/removeAlumno/} + ${alumno.usuarioModel.id}" method="post">
						<button class="btn tbn-lg btn-danger btn-block text-uppercase" type="button" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar Alumno</button>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	</body>
</html>