<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>Cursos</title>
</head>

<nav th:replace="index::header" class="header"></nav>
<br>
<div class="container">
	<form action="#" th:action="@{/alumno/listCursos}" method="GET"
		th:object="${opcion}" class="form form-singin align-items-center">
		<div>
			<select class="form-select" th:field="*{name}">
				<option th:value="default" selected>Seleccionar filtro</option>
				<option th:value="basico">Filtrar por cursos nivel basico</option>
				<option th:value="medio">Filtrar por cursos nivel medio</option>
				<option th:value="avanzado">Filtrar por cursos nivel
					avanzado</option>

			</select>

			<button class="btn tbn-lg btn-primary btn-block text-uppercase"
				type="submit">Filtrar</button>
		</div>
		<br>
	</form>

	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Fecha de Inicio</th>
				<th>Fecha Fin</th>
				<th>Acciones</th>
			</tr>
		</thead>

		<tbody th:each="curso: ${cursos}">

			<tr>
				<td th:text=${curso.nombre}></td>
				<td th:text=${curso.descripcion}></td>
				<td th:text=${curso.fechaInicio}></td>
				<td th:text=${curso.fechaFin}></td>
				<td
					th:if="${#lists.contains(matriculas, curso.idcurso) or curso.fechaFin < fecha or curso.fechaInicio < fecha}"><a>
						<button class="btn tbn-lg btn-danger btn-block text-uppercase"
							type="button">No disponible</button>
				</a></td>
				
				<td th:unless="${#lists.contains(matriculas, curso.idcurso) or curso.fechaFin < fecha or curso.fechaInicio < fecha}">
				<form action="submit" th:action="@{/alumno/matricular/} + ${curso.idcurso}" th:object="${matricula}" method="post"  class="form align-items-center" enctype="multipart/form-data">
						<button class="btn tbn-lg btn-primary btn-block text-uppercase"
							type="submit">Matricularse</button>
								</form>
				</td>
				
				<td th:if="${#lists.contains(matriculas, curso.idcurso) and curso.fechaFin < fecha}"><a th:href="@{/alumno/formComentario/} + ${curso.idcurso}">
						
							<button class="btn tbn-lg btn-primary btn-block text-uppercase"
								type="button">Comentar</button>
						
				</a></td>
				<td th:unless="${#lists.contains(matriculas, curso.idcurso) and curso.fechaFin < fecha}"><a th:href="@{/alumno/formComentario/} + ${curso.idcurso}">
						
							<button class="btn tbn-lg btn-danger btn-block text-uppercase"
								type="button">No disponible</button>
						 
				</a></td>

			</tr>
		</tbody>
	</table>
</div>
</body>
</html>