<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>Cursos</title>
</head>

	<nav th:replace="index::header" class="header"></nav>
	<br>
	<div class="container">
	<form action="#" th:action="@{/profesor/listCursos}"
		 method="GET" th:object="${opcion}"
		class="form form-singin align-items-center">
		<div>
		<select class="form-select" th:field="*{name}">
			<option  th:value="default" selected>Seleccionar filtro</option>
			<option  th:value="desc">Ordenar por fecha descendente</option>
			<option  th:value="asc">Ordenar por fecha ascendente</option>
			<option  th:value="despues">Ordenar por cursos impartidos</option>
			<option  th:value="entre">Ordenar por cursos impartiéndose</option>
			<option  th:value="antes">Ordenar por cursos a impartir</option>
			
		</select>
		
		<button class="btn tbn-lg btn-primary btn-block text-uppercase"
			type="submit">Filtrar</button>
			</div>
			<br>
	</form>

	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Fecha de Inicio</th>
				<th>Fecha Fin</th>
				<th>Acciones</th>
			</tr>
		</thead>

		<tbody th:each="curso: ${cursos}">
			<tr>
				<td th:text=${curso.nombre}></td>
				<td th:text=${curso.descripcion}></td>
				<td th:text=${curso.fechaInicio}></td>
				<td th:text=${curso.fechaFin}></td>
				<td><a th:href="@{/profesor/formCurso/} + ${curso.idcurso}">
						<button class="btn tbn-lg btn-primary btn-block text-uppercase"
							type="button">Editar Curso</button>
				</a> <a th:href="@{/profesor/removeCurso/} + ${curso.idcurso}"
					method="post">
						<button class="btn tbn-lg btn-danger btn-block text-uppercase"
							type="button" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar Curso</button>
				</a></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/profesor/formCurso}">
		<button class="btn tbn-lg btn-primary btn-block text-uppercase"
			type="button">Añadir Curso</button>
	</a>
	</div>
</body>
</html>