<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>Cursos</title>
</head>
<body>
	<nav th:replace="index::header" class="header"></nav>

	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Fecha de Inicio</th>
				<th>Fecha Fin</th>
				<th>Acciones</th>
			</tr>
		</thead>

		<tbody th:each="curso: ${cursos}">
			<tr>
				<td th:text=${curso.nombre}></td>
				<td th:text=${curso.descripcion}></td>
				<td th:text=${curso.fechaInicio}></td>
				<td th:text=${curso.fechaFin}></td>
				<td><a th:href="@{/admin/formCurso/} + ${curso.idcurso}">
						<button class="btn tbn-lg btn-primary btn-block text-uppercase"
							type="button">Editar Curso</button>
				</a> <a th:href="@{/admin/removeCurso/} + ${curso.idcurso}"
					method="post">
						<button class="btn tbn-lg btn-danger btn-block text-uppercase"
							type="button">Eliminar Curso</button>
				</a></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/admin/formCurso}">
		<button class="btn tbn-lg btn-primary btn-block text-uppercase"
			type="button">Añadir Curso</button>
	</a>
</body>
</html>