<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>Formulario Profesor</title>
</head>
<body>
	<nav th:replace="index::header" class="header"></nav>
	<div class="container mt-sm-5">
		<form action="#" th:action="@{/profesor/updateProfesor}" th:object="${profesor}" method="post" class="form form-singin align-items-center">
			<input type="hidden" th:field="*{id}">
			<input type="hidden" th:field="*{enabled}">
			<input type="hidden" th:field="*{role}">	
			<input type="hidden" th:field="*{password}">	
			<input type="hidden" th:field="*{email}">
			
			<label class="sr-only">Nombre:</label>
			<input type="text" th:field="*{nombre}" class="form-control"/>
			<br>
			
			<label class="sr-only">Apellidos:</label>
			<input type="text" th:field="*{apellidos}" class="form-control"/>
			<br>
			
			
			
			
			
			<button type="submit" class="btn tbn-lg btn-primary btn-block text-uppercase">Actualizar Informacion</button>	
		</form>
	</div>
</body>
</html>