<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>Formulario Curso</title>
</head>
<body>
	<nav th:replace="index::header" class="header"></nav>
	<div class="container mt-sm-5">
		<form  sec:authorize="hasRole('ROLE_ADMIN')" action="#" th:action="@{/admin/addCurso/}" th:object="${curso}" method="post"  class="form align-items-center ">
			<input type="hidden"  th:field="*{idcurso}">
			
			<label class="sr-only">Nombre:</label>
			<input type="text" th:field="*{nombre}" class="form-control"/>
			<br>
			
			<label class="sr-only">Descripcion:</label>
			<input type="text" th:field="*{descripcion}" class="form-control"/>
			<br>
			
			<label class="sr-only">Nivel:</label>
			<input type="number" th:field="*{nivel}" class="form-control"/>
			<br>
			
			<label class="sr-only"> Fecha de inicio:</label> 
			<input type="date" th:field="*{fechaInicio}" class="form-control"/>
			<br>
			
			<label class="sr-only">Fecha de fin :</label> 
			<input type="date" th:field="*{fechaFin}" class="form-control"/>
			<br>
			
			<button type="submit" class="btn tbn-lg btn-primary btn-block text-uppercase">Añadir Curso</button>	
		</form>
		<form  sec:authorize="hasRole('ROLE_PROFESOR')" action="#" th:action="@{/profesor/addCurso}" th:object="${curso}" method="post"  class="form align-items-center ">
			<input type="hidden"  th:field="*{idcurso}">
			
			<label class="sr-only">Nombre:</label>
			<input type="text" th:field="*{nombre}" class="form-control"/>
			<br>
			
			<label class="sr-only">Descripcion:</label>
			<input type="text" th:field="*{descripcion}" class="form-control"/>
			<br>
			
			<label class="sr-only">Nivel:</label>
			<input type="number" th:field="*{nivel}" class="form-control"/>
			<br>
			
			<label class="sr-only"> Fecha de inicio:</label> 
			<input type="date" th:field="*{fechaInicio}" class="form-control"/>
			<br>
			
			<label class="sr-only">Fecha de fin :</label> 
			<input type="date" th:field="*{fechaFin}" class="form-control"/>
			<br>
			
			<button type="submit" class="btn tbn-lg btn-primary btn-block text-uppercase">Añadir Curso</button>	
		</form>
	</div>
</body>
</html>