<!DOCTYPE html>
<html>
<head>
       <link th:href="@{/css/styles.css}"
      rel="stylesheet">

     
<meta charset="UTF-8">
<title>Inicio de sesión</title>
</head>
<body>
<nav th:replace="index::header" class="header"></nav>
	<div class="container mt-sm-5  ">
		<form  class="form-singin align-items-center " th:action="@{inicio}" th:objects="${usuario}" method="POST">
			<input type="hidden" name="${ csrf.parameterName}" value="${crsf.token}"/>
			<label form="inputEmail" class="sr-only">Email</label>
			<input type="text" class="form-control" placeholder="Username" name="username" id="username"/>
			<br>
			<label form="inputPassword" class="sr-only">Contraseña</label>
			<input type="password" class="form-control" placeholder="Password" name="password" id="password"/>
			<br>
			<button class="btn tbn-lg btn-primary btn-block text-uppercase" type="submit">
				Iniciar Sesión
			</button>
		</form>
	</div>
</body>
</html>