<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>Noticias</title>
</head>
<body>
	<nav th:replace="index::header" class="header"></nav>
	<table class="table">
		<thead>
			<tr>
				<th>Titulo</th>
				<th>Descripcion</th>
				<th>Imagen</th>
				<th>Fecha Creacion</th>
				<th>Administrador</th>
				<th>Acciones</th>
			</tr>
		</thead>
		
		<tbody th:each="noticia: ${noticias}">
			<tr>
				<td th:text=${noticia.titulo}></td>
				<td th:text=${noticia.descripcion}></td>
				<td>
					<img th:src="${#strings.isEmpty(noticia.imagen)} ? 'http://localhost:8080/imgs/sinimagen.jpg' : ${noticia.imagen}" class="img-responsive center-block" alt="Imagen" style="height: 200px; width: 250px">
				</td>
				<td th:text=${noticia.fechaCreacion}></td>
				<td th:text=${noticia.usuario.email}></td>
				<td>
					<a th:href="@{/admin/formNoticia/} + ${noticia.idnoticia}">
						<button class="btn tbn-lg btn-primary btn-block text-uppercase" type="button">Editar Noticia</button>
					</a>
					<a th:href="@{/admin/removeNoticia/} + ${noticia.idnoticia}" method="post">
							<button class="btn tbn-lg btn-danger btn-block text-uppercase" type="button" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar Noticia</button>
					</a> 
				</td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/admin/formNoticia}">
		<button class="btn tbn-lg btn-primary btn-block text-uppercase"type="button">Añadir Noticia</button>
	</a>
	</body>
</html>