<!DOCTYPE html>
<html>
<head>
       <link th:href="@{/css/styles.css}"
      rel="stylesheet">

     
<meta charset="UTF-8">
<title>Registro de usuarios</title>
</head>
<body>
<nav th:replace="index::header"></nav>

	<div class="container  mt-sm-5 ">
		<form th:action="@{/auth/register}" th:object="${usuario}" method="post">
			<div class="form-label-group">
				<label class="sr-only">Email: </label>
				<input type="text" th:field="*{email}" class="form-control" placeholder="Email" name="email"/>
			</div>
			<br>
			<div class="form-label-group">
				<label class="sr-only">Contraseña: </label>
				<input type="password" th:field="*{password}" class="form-control" placeholder="Contraseña" name="password"/>
			</div>
			<br>
			<button class="btn tbn-lg btn-primary btn-block text-uppercase" type="submit">
				Registrarse
			</button>
		</form>
	</div>
</body>
</html>